<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ВкусноЕсть{% endblock %}</title>
</head>
<body>
    <header>
        <div class="menu-header">
            <button class="menu-button">
                <a href="{% url 'home' %}">
                    <span class="vkusno">Вкусно</span><span class="est">Есть</span>
                </a>
            </button>
        </div>
        <nav>
            {% if user.is_authenticated %}
            <button><a href="{% url 'all_recipes' %}">Все рецепты</a></button>
            <button><a href="{% url 'add_recipe' %}">Добавить рецепт</a></button>
            <button><a href="{% url 'add_recipe_category' %}">Добавить категорию рецепта</a></button>
            <button><a href="{% url 'logout' %}">Выйти</a></button>
            {% else %}
            <button><a href="{% url 'all_recipes' %}">Все рецепты</a></button>
            <button><a href="{% url 'login' %}">Вход</a></button>
            <button><a href="{% url 'register' %}">Регистрация</a></button>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 ВкусноЕсть</p>
    </footer>
</body>
</html>
