{% extends 'base.html' %}

{% block content %}
    <div class="five-recipes">
        <h2>5 случайных рецептов</h2>
        <ul>
            {% for recipe in recipes %}
                <li>
                    <button>
                        <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.title }}</a>
                    </button>
                    <a href="{% url 'recipe_detail' recipe.id %}">
                        <p><img src="{{ recipe.image.url }}" alt="{{ recipe.title }}"></p>
                    </a>
                    <p>{{ recipe.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
