header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-header {
    position: absolute;
    top: 30px;
    left: 70px;
    flex-shrink: 0;
    text-decoration: none;
}

.menu-button {
    position: relative;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    display: flex;
}

.menu-button a {
    text-decoration: none;
}

.menu-header button:active {
    transform: translateY(1px);
    text-decoration: none;
}

.vkusno {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.est {
    color: darkseagreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

nav {
    position: absolute;
    flex-shrink: 0;
    top: 45px;
    right: 70px;
    display: flex;
    align-items: center;
    background-color: #fff;
}

nav button {
    position: relative;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    display: flex;
}

nav button a {
    text-decoration: none;
    color: inherit;
}

nav button:hover {
    color: darkseagreen;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    text-decoration: none;
}

nav button:active {
    transform: translateY(1px);
}

nav button i {
    position: absolute;
    right: -5px;
    bottom: 2px;
}

main {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 1;
}

.login-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-register form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-register h2 {
    font-family: Arial, sans-serif;
    text-align: center;
}

.login-register.label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.login-register.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-register button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login-register button:hover {
    background-color: #45a049;
}

.five-recipes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.five-recipes ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.five-recipes li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.five-recipes button {
    position: relative;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    display: flex;
}

.five-recipes a {
    text-decoration: none;
    color: inherit;
}

.five-recipes button:hover {
    color: darkseagreen;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    text-decoration: none;
}

.five-recipes button:active {
    transform: translateY(1px);
}

.five-recipes img {
    width: 240px;
    max-height: 180px;
}

.five-recipes p {
    width: 240px;
    height: auto;
    text-align: center;
}

.recipe-details {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 200px;
}

.all-recipes {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 200px;
}

.all-recipes h2 {
    display: flex;
    flex-direction: column;
}

.all-recipes ul {
    display: flex;
    flex-direction: column;
}

.recipe-details-header {
    display: flex;
    flex-direction: column;
}

.recipe-details-content {
    display: flex;
    flex-direction: row;
}

.recipe-details-left {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.recipe-details-right{
    display: flex;
    flex-direction: column;
    width: 650px;
    margin-left: 110px;
}

.recipe-details-content button {
    position: relative;
    left: -5px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #cccccc;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    display: flex;
}

.recipe-details-content a {
    text-decoration: none;
    color: inherit;
}

.recipe-details-content button:hover {
    color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    text-decoration: none;
}

.recipe-details-content button:active {
    transform: translateY(1px);
}

.recipe-details img {
    width: 500px;
    max-height: 300px;
}

.add-edit-recipe {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 200px;
}

.add-edit-recipe-header {
    display: flex;
    flex-direction: column;
}

.add-edit-recipe-content {
    display: flex;
    flex-direction: row;
}

.add-edit-recipe-left {
    display: flex;
    flex-direction: column;
}

.add-edit-recipe-right{
    display: flex;
    flex-direction: column;
    margin-left: 110px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0;
}
